body {
    background-color: beige;
}
h1 {
    color: cornflowerblue;
    transition: color .3s ease-in-out;
}

.clicked {
    color: coral;
}

.sexy-font {
    font-family: 'Courier New', Courier, monospace;
}